<div class="dashboard-page">
<div class="dashboard">

  <div class="card bg-products">
    <div class="icon">📦</div>
    <div class="content">
      <h6>Total Products</h6>
      <h2>{{productCount}}</h2>
    </div>
  </div>

  <div class="card bg-cart">
    <div class="icon">🛒</div>
    <div class="content">
      <h6>Cart</h6>
      <h2>{{cartCount}}</h2>
    </div>
  </div>

  <div class="card bg-wishlist">
    <div class="icon">❤️</div>
    <div class="content">
      <h6>Wishlist</h6>
      <h2>{{wishCount}}</h2>
    </div>
  </div>

</div>
</div>